.simple-punctual-translation-meta-box *{
	box-sizing: border-box;
}

.simple-punctual-translation-meta-box label{
	margin-bottom: 8px;
}

.simple-punctual-translation-meta-box .choices__inner{
	background-color: transparent;
	border : 1px solid #8c8f94 ;
}
